body {
	background: #F3FAB6;
}

#add-button {
    width: 100%;
}

#tag-card {
	color: white;
	border-radius: 0px;
	background-color: #558C89;
	margin: 5px;
}

#tag-card:hover {
	background-color: #74AFAD;
}

#submit-button {
	display: block;
    margin: 0px auto 0px auto;
}

#idea-body {
	resize: none;
}

.list-group-item {
	cursor: pointer;
}

#change-view-button {
	float: right;
}

.btn-default .badge {
	background-color: #558C89;
}

textarea {
	resize: none;
}

.form-group {
	display: inline-block;
}

.page-header {
	border-bottom: none;
}

#filter-header {
	display: inline-block;	
}

#tag-search {
	margin: 5px;
}