body {
	background-image: url('../images/background.jpg');
	font-family: 'Montserrat', sans-serif;
}

#button {
    color: #118C4E;
	background-color: transparent;
	border: 1px solid #118C4E;
}

#tag-card {
	color: #558C89;
	border-radius: 0px;
	background-color: transparent;
	border: 1px solid #558C89;
	margin: 5px;
}

#tag-card-filtered {
	color: #D9853B;
	border-radius: 0px;
	background-color: transparent;
	border: 1px solid #D9853B;
	margin: 5px;
}

#tag-card:hover, #tag-card-filtered:hover, #suggestion > .list-group > .list-group-item:hover, #suggestion > .list-group > #selected, #button:hover{
	background-color: #F5F5F5;
}

#submit-button {
	display: block;
    margin: 0px auto 0px auto;
}

#idea-body {
	resize: none;
}

.list-group-item:hover {
	background-color: black;
}

#change-view-button {
	float: right;
}

.btn-default .badge {
	background-color: #558C89;
}

textarea {
	resize: none;
}

.page-header {
	border-bottom: none;
}

#filter-header {
	display: inline-block;	
}

#tag-search {
	display: inline-block;
	margin: 5px;
}

#suggestion {
	display: block;
	position: absolute;
	margin-left: 5px;
}

#tag-search > div > .form-group {
	margin-bottom: 0px;
}

#suggestion > .list-group {
	margin-bottom: 0px;
}

#suggestion > .list-group > .list-group-item {
	padding: 5px 7px;
	background-color: white;
}

.list-group-item {
	background-color: transparent;
	border: 1px solid #CCC;
	cursor: pointer;
}

h5 {
	font-weight: bold;
	margin-bottom: 0px;
	color: #555;
}

.label-default {
	border: 1px solid #D9853B;
	background-color: transparent;
	font-weight: normal;
	color: #D9853B;
	margin: 5px;
	display: inline-block;
}

hr {
	border: 1px dashed #CCC;
}

.idea-body, .idea-header {
	border: none;
}

h4 {
	font-weight: 400;
	font-size: 18px;
	line-height: 1;
	color: #777;
}

h1 {
	font-size: 40px;
	display: inline-block;
	margin-bottom: 30px;
}

h1 small {
	font-size: 20px;
}

.list-group-item > b {
	font-size: 15px;
	word-wrap: break-word;
}

.modal-footer {
	border-top: none;
	padding-top: 0px;
}

img {
	vertical-align: -7px;
	margin-right: 10px;
	margin-left: 10px;
}